<!doctype html>
<html lang="en" ng-app="myapp">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="wiph=device-wiph, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="assets/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/test16.css">
    <script type="text/javascript">
        angular
        .module( "myapp" , [ ] )
        .controller( "TransactionController" , [
            "$scope",
            function controller( $scope ) {
                $scope.transactionList = [
                    {
                        "productMode" : false,
                        "priceMode" : false,
                        "stamp" : "4354654yr6ytry6",
                        "title" : "Reg",
                        "description" : "Reg",
                        "firstname" : "Reg",
                        "lastname" : "Reg",
                        "status" : "enable",
                        "user_refernce" : "1321ewdsaxz",
                        "email_address" : "reg@gmail.com",
                        "mobile_number" : "132445543",
                        "home_address" : "Philippin",
                        "listProduct" : [
                            {
                                "reference" : "110000AD1",
                                "stamp" : "110000AD1",
                                "code" : "110000AD1",
                                "title" : "ballpen1",
                                "description" : "ballpen1"
                            },

                            {
                                "reference" : "110000AD2",
                                "stamp" : "110000AD2",
                                "code" : "110000AD2",
                                "title" : "ballpen2",
                                "description" : "ballpen2"
                            },

                            {
                                "reference" : "110000AD3",
                                "stamp" : "110000AD3",
                                "code" : "110000AD3",
                                "title" : "ballpen3",
                                "description" : "ballpen3"
                            }
                        ]
                    },

                    {
                        "productMode" : false,
                        "priceMode" : false,
                        "stamp" : "aaaayr6ytry6",
                        "title" : "Doanh",
                        "description" : "Doanh",
                        "firstname" : "Doanh",
                        "lastname" : "Doanh",
                        "status" : "disenable",
                        "user_refernce" : "1321ewdsaxz",
                        "email_address" : "doanh@gmail.com",
                        "mobile_number" : "132445543s",
                        "home_address" : "vietnam",
                        "listProduct" : [
                            {
                                "reference" : "110000AD4",
                                "stamp" : "110000AD4",
                                "code" : "110000AD4",
                                "title" : "ballpen4",
                                "description" : "ballpen4"
                            },

                            {
                                "reference" : "110000AD5",
                                "stamp" : "110000AD5",
                                "code" : "110000AD5",
                                "title" : "ballpen5",
                                "description" : "ballpen5"
                            },

                            {
                                "reference" : "110000AD6",
                                "stamp" : "110000AD6",
                                "code" : "110000AD6",
                                "title" : "ballpen6",
                                "description" : "ballpen6"
                            }
                        ]
                    },

                    {
                        "productMode" : false,
                        "priceMode" : false,
                        "stamp" : "1aaaayr6ytry6",
                        "title" : "Hue",
                        "description" : "Hue",
                        "firstname" : "Hue",
                        "lastname" : "Hue",
                        "status" : "enable",
                        "user_refernce" : "1321ewdsaxz",
                        "email_address" : "hue@gmail.com",
                        "mobile_number" : "132445543",
                        "home_address" : "VietNam",
                        "listProduct" : [
                            {
                                "reference" : "110000AD7",
                                "stamp" : "110000AD7",
                                "code" : "110000AD7",
                                "title" : "ballpen7",
                                "description" : "ballpen7"
                            },

                            {
                                "reference" : "110000AD8",
                                "stamp" : "110000AD8",
                                "code" : "110000AD8",
                                "title" : "ballpen8",
                                "description" : "ballpen8"
                            },

                            {
                                "reference" : "110000AD9",
                                "stamp" : "110000AD9",
                                "code" : "110000AD9",
                                "title" : "ballpen9",
                                "description" : "ballpen9"
                            }
                        ]
                    }
                ];

                $scope.hasTransaction = function hasTransaction( ) {
                    if ( $scope.transactionList.lengh == 0 ) {
                        return false;
                    }

                    return true;
                };

                $scope.displayTransaction = function displayTransaction( transaction ) {
                  $scope.transactionList.forEach( function onEachItem( _transaction ) {
                    if( _transaction.stamp != transaction.stamp ) {
                        _transaction._viewMode = false;
                        console.log( _transaction._viewMode );
                    };
                  } )

                  transaction._viewMode =! transaction._viewMode;
                };

                $scope.displayProductTab = function displayProductTab( transaction ) {
                    transaction.productMode =! transaction.productMode;
                    transaction.priceMode =! transaction.priceMode;
                    console.log( transaction.priceMode );
                };

                $scope.displayPriceTab = function displayPriceTab( transaction ) {
                    transaction.priceMode =! transaction.priceMode;
                    transaction.productMode =! transaction.productMode;
                }
            }
        ] )
        .controller( "ProductController" , [
    		"$scope",

    		function controller( $scope ) {
                $scope.displayListProduct = function displayListProduct( product ) {
        	        $scope.transaction.listProduct.forEach( function onEachItemproduct( _product ) {
                        if( _product.reference != product.reference ) {
                            _product._viewMode = false;
                        }
                    } );

                    product._viewMode = !product._viewMode;
                };
    		}
    	] )
    </script>
  </head>
  <body ng-controller="TransactionController">
    <h1>Transaction</h1>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox" value="">Stamp</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                </tr>
            </thead>
            <tbody
                ng-repeat="transaction in transactionList"
                ng-if="hasTransaction( )"
            >
                <tr
                    class="title"
                    ng-click ="displayTransaction( transaction )"
                >
                    <td scope="row" >
                        <input type="checkbox" value="">
                        {{ transaction.stamp }}
                    </td>
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.firstname }}</td>
                    <td>{{ transaction.lastname }}</td>
                </tr >
                <tr
                    class="detail"
                    ng-if="transaction._viewMode"
                >
                    <td class="title-detail">
                        <h4>Transaction Details</h4>
                    </td>
                    <td class="detail-transaction">
                        <div class="detail-panel">
                            <div class="header">
                                <p>Stamp:</p>
                                <p>Title:</p>
                                <p>Description:</p>
                                <p>Status:</p>
                                <p>User Refernce</p>
                                <p>Firstname:</p>
                                <p>Lastname:</p>
                                <p>Email Address:</p>
                                <p>Mobile Number:</p>
                                <p>Home Address:</p>
                            </div>
                            <div class="content">
                                <p>{{ transaction.stamp }}</p>
                                <p>{{ transaction.title }}</p>
                                <p>{{ transaction.description }}</p>
                                <p>
                                    <span
                                        class="label label-primary"
                                        ng-if="transaction.status == 'enable'"
                                    >
                                        Enable
                                    </span>
                                    <span
                                        class="label label-danger"
                                        ng-if="transaction.status == 'disenable'"
                                    >
                                        Disenable
                                    </span>
                                </p>
                                <p>{{ transaction.user_refernce }}</p>
                                <p>{{ transaction.firstname }}</p>
                                <p>{{ transaction.lastname }}</p>
                                <p>{{ transaction.email_address }}</p>
                                <p>{{ transaction.mobile_number }}</p>
                                <p>{{ transaction.home_address }}</p>
                            </div>
                        </div>
                    </td>
                    <td class="title-detail detail-tab-transaction">
                        <div class="product-price" >
                            <div class="tab-panel" role="tabpanel">
                                <ul class="nav nav-tabs" role="tablist" data-tabs="tabs">
                                    <li class="active">
                                        <a
                                            role="tab"
                                            data-toggle="tab"
                                            ng-click="displayProductTab( transaction )"
                                        >
                                            Product
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            role="tab"
                                            data-toggle="tab"
                                            ng-click="displayPriceTab( transaction )"
                                        >
                                            Price
                                        </a>
                                    </li>

                                </ul>

                                    <button
                                        type="button"
                                        class="btn btn-default pull-right"
                                        ng-click="!displayTransaction( transaction )"
                                    >
                                        Close
                                    </button>

                            </div>
                            <div
                                class="tab-content"
                            >
                                <div
                                    class="tab-pane fade in active"
                                    ng-show="!transaction.productMode"
                                >
                                    <div
                                        class="item-manager no-left-right-padding"
                                        ng-controller="ProductController"
                                    >
                                        <table class="table">
                                            <label for="" style="padding:10px 15px">Product List</label>
                                            <thead>
                                                <tr class="title-header">
                                                    <th><input type="checkbox" value="">Reference</th>
                                                    <th>Stamp</th>
                                                    <th>Code</th>
                                                    <th>Title</th>
                                                </tr>
                                            </thead>
                                            <tbody
                                                ng-repeat="product in transaction.listProduct"
                                            >
                                                <tr
                                                    ng-click ="displayListProduct( product )"
                                                >
                                                    <td scope="row" >
                                                        <input type="checkbox" value="">
                                                        {{ product.reference }}
                                                    </td>
                                                    <td>{{ product.stamp }}</td>
                                                    <td>{{ product.code}}</td>
                                                    <td>{{ product.title}}</td>
                                                </tr >
                                                <tr
                                                    class="detail"
                                                    ng-if="product._viewMode"
                                                >
                                                    <td class="title-detail">
                                                        <h4>Product Details</h4>
                                                    </td>
                                                    <td class="detail-transaction">
                                                        <div class="header">
                                                            <p>Reference:</p>
                                                            <p>Stamp:</p>
                                                            <p>Code:</p>
                                                            <p>Title:</p>
                                                            <p>Description:</p>
                                                        </div>
                                                        <div class="content">
                                                            <p>{{ product.reference }}</p>
                                                            <p>{{ product.stamp }}</p>
                                                            <p>{{ product.code}}</p>
                                                            <p>{{ product.title}}</p>
                                                            <p>{{ product.description}}</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div
                                    class="tab-pane fade in active"
                                    ng-show="transaction.priceMode"
                                >
                                    <div
                                        class="item-manager no-left-right-padding"
                                    >
                                        <div class="item-list item-panel-product-price">
                                            fgfdfg
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/jquery-3.3.1.min.js"></script>
    <script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
