<!doctype html>
<html lang="en" ng-app="myapp">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="wiph=device-wiph, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="assets/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/test17.css">
    <script type="text/javascript" src="js/transaction-module.js"></script>
	<script type="text/javascript" src="js/transaction-controller.js"></script>
  </head>
  <body ng-controller="TransactionController">
    <h1>Transaction</h1>
    <div class="container">
        <p ng-if="!hasTransaction( )"></p>
        <table
            class="table"
            ng-if="hasTransaction( )"
        >
            <thead>
                <tr>
                    <th><input type="checkbox" value="">Stamp</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                </tr>
            </thead>
            <tbody
                ng-repeat="transaction in transactionList"
            >
                <tr
                    class="title"
                    ng-click ="displayTransaction( transaction )"
                >
                    <td scope="row" >
                        <input type="checkbox" value="">
                        {{ transaction.stamp }}
                    </td>
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.firstname }}</td>
                    <td>{{ transaction.lastname }}</td>
                </tr >
                <tr
                    class="detail"
                    ng-if="transaction._viewMode"
                >
                    <td class="title-detail">
                        <h4>Transaction Details</h4>
                    </td>
                    <td class="detail-transaction">
                        <div class="detail-panel">
                            <div class="header">
                                <p>Stamp:</p>
                                <p>Title:</p>
                                <p>Description:</p>
                                <p>Status:</p>
                                <p>User Refernce</p>
                                <p>Firstname:</p>
                                <p>Lastname:</p>
                                <p>Email Address:</p>
                                <p>Mobile Number:</p>
                                <p>Home Address:</p>
                            </div>
                            <div class="content">
                                <p>{{ transaction.stamp }}</p>
                                <p>{{ transaction.title }}</p>
                                <p>{{ transaction.description }}</p>
                                <p>
                                    <span
                                        class="label label-primary"
                                        ng-if="transaction.status == 'enable'"
                                    >
                                        Enable
                                    </span>
                                    <span
                                        class="label label-danger"
                                        ng-if="transaction.status == 'disenable'"
                                    >
                                        Disenable
                                    </span>
                                </p>
                                <p>{{ transaction.user_refernce }}</p>
                                <p>{{ transaction.firstname }}</p>
                                <p>{{ transaction.lastname }}</p>
                                <p>{{ transaction.email_address }}</p>
                                <p>{{ transaction.mobile_number }}</p>
                                <p>{{ transaction.home_address }}</p>
                            </div>
                        </div>
                    </td>
                    <td class="title-detail detail-tab-transaction">
                        <div class="product-price" >
                            <div class="tab-panel" role="tabpanel">
                                <ul class="nav nav-tabs" role="tablist" data-tabs="tabs">
                                    <li class="active">
                                        <a
                                            role="tab"
                                            data-toggle="tab"
                                            ng-click="displayProductTab( transaction )"
                                        >
                                            Product
                                        </a>
                                    </li>
                                </ul>

                                    <button
                                        type="button"
                                        class="btn btn-default pull-right"
                                        ng-click="!displayTransaction( transaction )"
                                    >
                                        Close
                                    </button>

                            </div>
                            <div
                                class="tab-content"
                            >
                                <div
                                    class="tab-pane fade in active"
                                    ng-if="!transaction.productMode"
                                >
                                    <div
                                        class="item-manager no-left-right-padding"
                                        ng-controller="ProductController"
                                    >
                                        <table class="table">
                                            <label for="" style="padding:10px 15px">Product List</label>
                                            <thead>
                                                <tr class="title-header">
                                                    <th><input type="checkbox" value="">Reference</th>
                                                    <th>Stamp</th>
                                                    <th>Code</th>
                                                    <th>Title</th>
                                                </tr>
                                            </thead>
                                            <tbody
                                                ng-repeat="product in transaction.listProduct"
                                            >
                                                <tr
                                                    ng-click ="displayListProduct( product )"
                                                >
                                                    <td scope="row" >
                                                        <input type="checkbox" value="">
                                                        {{ product.reference }}
                                                    </td>
                                                    <td>{{ product.stamp }}</td>
                                                    <td>{{ product.code}}</td>
                                                    <td>{{ product.title}}</td>
                                                </tr >
                                                <tr
                                                    class="detail"
                                                    ng-if="product._viewMode"
                                                >
                                                    <td class="title-detail">
                                                        <h4>Product Details</h4>
                                                    </td>
                                                    <td class="detail-transaction">
                                                        <div class="header">
                                                            <p>Reference:</p>
                                                            <p>Stamp:</p>
                                                            <p>Code:</p>
                                                            <p>Title:</p>
                                                            <p>Description:</p>
                                                        </div>
                                                        <div class="content">
                                                            <p>{{ product.reference }}</p>
                                                            <p>{{ product.stamp }}</p>
                                                            <p>{{ product.code}}</p>
                                                            <p>{{ product.title}}</p>
                                                            <p>{{ product.description}}</p>
                                                        </div>
                                                    </td>
													<td>
														<div class="tab-panel" role="tabpanel">
							                                <ul class="nav nav-tabs" role="tablist" data-tabs="tabs">
							                                    <li class="active">
							                                        <a
							                                            role="tab"
							                                            data-toggle="tab"
                                                                        ng-click="displayTabDiscount( product )"
							                                        >
							                                            Discount
							                                        </a>
							                                    </li>
							                                    <li>
							                                        <a
							                                            role="tab"
							                                            data-toggle="tab"
                                                                        ng-click="displayTabPrice( product )"
							                                        >
							                                            Price
							                                        </a>
							                                    </li>
							                                </ul>
                                                            <button
                                                                type="button"
                                                                class="btn btn-default pull-right"
                                                                ng-click="!displayTransaction( transaction )"
                                                            >
                                                                Close
                                                            </button>
							                            </div>
														<div
							                                class="tab-content discount-price-tab"
							                            >
							                                <div
							                                    class="tab-pane fade in active"
                                                                ng-if="product.discountMode"
							                                >
							                                    <div
							                                        class="item-manager no-left-right-padding"
                                                                    ng-controller="DiscountController"
							                                    >
																	<div class="header">Discount List</div>
																	<div
                                                                        class="content"
                                                                        ng-repeat="discount in product.listDiscount"
                                                                    >
                                                                        <div class="item-detail-discount-price">
                                                                            <div class="item-detail">
                                                                                <h4 style="
                                                                                    text-transform:capitalize;"
                                                                                    class="ng-binding"
                                                                                >
                                                                                    {{ discount.title }}
                                                                                </h4>
                                                                                <p class="ng-binding">
                                                                                    {{ discount.description }}
                                                                                </p>
                                                                            </div>
                                                                            <div class="item-detail-summary-control">
                                                                                <span
                                                                                    class="glyphicon glyphicon-chevron-down"
                                                                                    ng-click="displayItemDiscount( discount )"
                                                                                    ng-if="!discount._viewMode"
                                                                                >
                                                                                </span>
                                                                                <span
                                                                                    class="glyphicon glyphicon-chevron-up"
                                                                                    ng-click="displayItemDiscount( discount )"
                                                                                    ng-if="discount._viewMode"
                                                                                >
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="detail-panel"
                                                                            ng-if="discount._viewMode"
                                                                        >
                                                                            <dl class="col-md-12 dl-horizontal">
                                                                                <dt>Title:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    {{ discount.title }}
                                                                                </dd>
                                                                                <dt>Description:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                    class="ng-binding ng-scope"
                                                                                >
                                                                                    {{ discount.description }}
                                                                                </dd>
                                                                                <dt>Reference:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    {{ discount.reference }}
                                                                                </dd>
                                                                                <dt>Type:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    {{ discount.type }}
                                                                                </dd>
                                                                                <dt>Basic current:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    {{ discount.base_currency }}
                                                                                </dd>
                                                                                <dt>Amount:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    {{ discount.amount }}
                                                                                </dd>
                                                                                <dt>Target:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    {{ discount.target }}
                                                                                </dd>
                                                                                <dt>Effective date:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                    class="ng-binding ng-scope"
                                                                                >
                                                                                    {{ discount.effective_date }}
                                                                                </dd>
                                                                                <dt>Valid Type:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    {{ discount.valid_unit }}
                                                                                </dd>
                                                                                <dt>Valid Unit:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    <span
                                                                                        class="label label-primary"
                                                                                        ng-if="discount.valid_unit == 'infinite'"
                                                                                    >
                                                                                        infinite
                                                                                    </span>
                                                                                    <span
                                                                                        class="label label-danger"
                                                                                        ng-if="discount.valid_unit == 'definite'"
                                                                                    >
                                                                                        definite
                                                                                    </span>
                                                                                </dd>
                                                                            </dl>
                                                                        </div>
																	</div>
																</div>
															</div>
                                                            <div
                                                               class="tab-pane fade in active"
                                                                ng-if="product.priceMode"
                                                            >
                                                                <div
                                                                    class="item-manager no-left-right-padding"
                                                                    ng-controller="PriceController"
                                                                >
                                                                    <div class="header">Price List</div>
                                                                    <div
                                                                        class="content"
                                                                        ng-repeat="price in product.listPrice"

                                                                    >
                                                                        <div class="item-detail-discount-price">
                                                                            <div class="item-detail">
                                                                                <h4 style="
                                                                                    text-transform:capitalize;"
                                                                                    class="ng-binding"
                                                                                >
                                                                                    {{ price.title }}
                                                                                </h4>
                                                                                <p class="ng-binding">
                                                                                    {{ price.description }}
                                                                                </p>
                                                                            </div>
                                                                            <div class="item-detail-summary-control">
                                                                                <span
                                                                                    class="glyphicon glyphicon-chevron-down"
                                                                                    ng-click="displayItemPrice( price )"
                                                                                    ng-if="!price._viewMode"
                                                                                >
                                                                                </span>
                                                                                <span
                                                                                    class="glyphicon glyphicon-chevron-up"
                                                                                    ng-click="displayItemPrice( price )"
                                                                                    ng-if="price._viewMode"
                                                                                >
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="detail-panel"
                                                                            ng-if="price._viewMode"
                                                                        >
                                                                            <dl class="col-md-12 dl-horizontal">
                                                                                <dt>Title:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    {{ price.title }}
                                                                                </dd>
                                                                                <dt>Description:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                    class="ng-binding ng-scope"
                                                                                >
                                                                                    {{ price.description }}
                                                                                </dd>
                                                                                <dt>Reference:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    {{ price.reference }}
                                                                                </dd>
                                                                                <dt>Basic current:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    {{ price.base_currency }}
                                                                                </dd>
                                                                                <dt>Amount:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    {{ price.amount }}
                                                                                </dd>
                                                                                <dt>Effective date:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                    class="ng-binding ng-scope"
                                                                                >
                                                                                    {{ price.effective_date }}
                                                                                </dd>
                                                                                <dt>Valid Type:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    {{ price.valid_unit }}
                                                                                </dd>
                                                                                <dt>Valid Unit:</dt>
                                                                                <dd style="
                                                                                    text-transform:capitalize;
                                                                                    "
                                                                                >
                                                                                    <span
                                                                                        class="label label-primary"
                                                                                        ng-if="price.valid_unit == 'infinite'"
                                                                                    >
                                                                                        infinite
                                                                                    </span>
                                                                                    <span
                                                                                        class="label label-danger"
                                                                                        ng-if="price.valid_unit == 'definite'"
                                                                                    >
                                                                                        definite
                                                                                    </span>
                                                                                </dd>
                                                                            </dl>
                                                                        </div>
																	</div>
                                                                </div>
                                                            </div>
														</div>
													</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/jquery-3.3.1.min.js"></script>
    <script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
