<!DOCTYPE html>
<html lang="en" ng-app="user">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/a
    ngularjs/1.6.6/angular.min.js"></script>
  <script type="text/javascript">
    angular
        .module( "user", [ ] )
        .controller( "UserController", [
            "$scope",

            function controller(
                $scope,

            ) {
                $scope.showInfo = false;
                $scope.showIconDown = true;
                $scope.showIconUp = false;

        $scope.itemList = [
          {
            "title": "Xel",
            "description" : "Hello",
            "state": "active",
                        "referance" : "dwq"

          },
          {
            "title": "Element2",
            "description" : "wqewqe",
            "state": "deactivated",
            "referance" : "12423534534"
          },
          {
            "title": "Element3",
            "description" : "Description element3",
            "state": "deactivated",
            "referance" : "dwq354364567476"
          }
        ];

        $scope.hasItem = function hasItem( ){
          if ( $scope.itemList.length == 0 ) {
            return false;
          }

          return true;
        };

                $scope.displayInfo = function displayInfo( ) {
                    $scope.showInfo = !$scope.showInfo;
                    $scope.showIconDown = !$scope.showIconDown;
                    $scope.showIconUp = !$scope.showIconUp;
                };
                // $scope.displayInfo1 = function displayInfo1( ) {
                //     $scope.showInfo = true;
                // };

            }
        ]);
    </script>
</head>
<body ng-controller="UserController">

<div class="container">
  <h2>Test</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Discount</a></li>
    <li><a data-toggle="tab" href="#menu1">Price</a></li>
    <li><a data-toggle="tab" href="#menu2">Item</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Reference</th>
            <th>Title</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody 
        >
          <tr ng-if="hasItem( )"
          ng-repeat="x in itemList">
            <td>ádas</td>
            <td>Regular</td>
            <td>Education</td>
            
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div> -->
  </div>
</div>

</body>
</html>
