display: flex;
flex-direction: column;

}
.item-manager>.item-panel>div.header {
    padding: 10px;
    font-size: 1.3em;
    background-color: rgba( 0, 0, 0, 0.8);
    color: white;
}
.item-manager>.item-panel>div.body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 0;
}
.item-manager>.item-panel>div.body>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 0px;
    max-height: 700px;
    overflow-y: auto;
}
.item-manager>.item-panel>div.body>ul>li {
    display: flex;
    height: auto;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;
}
.item-manager>.item-panel>div.body>ul>li>.detail-summary-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.item-manager>.item-panel>div.body>ul>li>.detail-summary-panel>.item-detail {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
}
.item-manager>.item-panel>div.body>ul>li>.detail-summary-panel>.item-detail-summary-control {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    flex-shrink: 0;
}
.item-manager>.item-panel>div.body>ul>li>.detail-panel {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}